{% load static %}
<div class="row"
     id="tasks"
     hx-target="#tasks"
     hx-swap="outerHTML">
    <div class="col-12 col-md-4 status-column">
        <h3 class="text-center">To Do:</h3>
        <ul class="list-unstyled">
            {% for task in tasks.todo %}
            <li>
                <!-- color coding task priority -->
                {% if task.priority == 'a' %}
                <div class="card to-do high-priority">
                    {% elif task.priority == 'b' %}
                    <div class="card to-do medium-priority">
                        {% else %}
                        <div class="card to-do low-priority">
                            {% endif %}
                    <div class="card-header">
                        {{ task.title }}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ task.description }}</p>
                        <a hx-patch="{% url 'board:assign_task' task.id %}" class="btn btn-primary btn-sm">I'll do it</a>
                        <a href="{% url 'board:edit_task' task.id %}" class="btn btn-primary btn-sm">Edit</a>
                        <a hx-delete="{% url 'board:delete_task' task.id %}"
                           hx-confirm="Are you sure you want to delete this task?"
                           class="btn btn-primary btn-sm">Delete</a>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-12 col-md-4 status-column">
        <h3 class="text-center">In Progress {{ current_wip }}/{{ board.max_wip }}</h3>
        <ul class="list-unstyled">
            {% for task in tasks.wip %}
            <div class="card wip">
                <div class="card-header d-flex justify-content-between">
                    <span>{{ task.title }}</span><span>{{task.assigned_to }} <img src="{% get_media_prefix %}/{{ user.userprofile.picture }}" class="profile-picture-small"></span>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ task.description }}</p>
                    <a href="{% url 'board:mark_completed' task.id %}" class="btn btn-primary btn-sm">Completed</a>
                    <a href="{% url 'board:resign_task' task.id %}" class="btn btn-primary btn-sm">Resign</a>
                    <a hx-delete="{% url 'board:delete_task' task.id %}"
                       hx-confirm="Are you sure you want to delete this task?"
                       class="btn btn-primary btn-sm">Delete</a>
                </div>
            </div>
            {% endfor %}
        </ul>
    </div>
    <div class="col-12 col-md-4 status-column">
        <h3 class="text-center">Completed:</h3>
        <ul class="list-unstyled">
            {% for task in tasks.done %}
            <div class="card done">
                <div class="card-header d-flex justify-content-between">
                    <span>{{ task.title }}</span><span>{{task.assigned_to }} <img src="{% get_media_prefix %}/{{ user.userprofile.picture }}" class="profile-picture-small"></span>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ task.description }}</p>
                    <a hx-delete="{% url 'board:delete_task' task.id %}"
                       hx-confirm="Are you sure you want to delete this task?"
                       class="btn btn-primary btn-sm">Delete</a>
                </div>
            </div>
            {% endfor %}
        </ul>

    </div>
</div>