:root {
    --dark-color: #241E92;
    --medium-dark-color: #5432D3;
    --medium-light-color: #7B6CF6;
    --light-color: #E5A5FF;
}

/* CSS variables usage */
/* :root {
    --glowny-kolor-tla: brown;
  }
  .jeden {
    background-color: var(--glowny-kolor-tla);
  } */

body {
background-color: var(--medium-dark-color);
color: var(--light-color)
}

.container {
padding-top: 70px;

}

/* User profile */

.user-profile {
    color: var(--light-color)
}