:root {
    --dark-color: #241E92;
    --medium-dark-color: #5432D3;
    --medium-light-color: #7B6CF6;
    --light-color: #E5A5FF;
}

body {
background-color: var(--medium-dark-color);
color: var(--light-color);
}

.container {
padding-top: 70px;

}

h3 {
    font-size: 1rem;
}

/* User profile */

.user-profile {
    color: var(--light-color);
}

/* User picture */

.profile-picture-big {
    width: 100px;
    border-radius: 10%;
}

.profile-picture-small {
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

/* Task Cards */

.card {
    color: var(--dark-color);
    font-size: smaller;
}

.nav-footer {
    font-size: 12px;
}

.contact a {
    font-size: 18;
}
