:root {
    --dark-color: #241E92;
    --medium-dark-color: #5432D3;
    --medium-light-color: #7B6CF6;
    --light-color: #E5A5FF;
}

body {
background-color: var(--medium-dark-color);
color: var(--light-color)
}

.container {
padding-top: 70px;

}

h3 {
    font-size: 1rem;
}

/* User profile */

.user-profile {
    color: var(--light-color)
}

/* Task Cards */

.card {
    color: var(--dark-color);
    font-size: smaller;
}