{% extends 'board/base.html' %}
{% load static %}

{% block title_block %}
About Home Manager
{% endblock %}

{% block content_block %}
<h1>About Home Manager</h1>
<p>Home Manager is a kanban-board inspired app for managing tasks between a group of people. It was inspired by my family's inability to be on top of everyday tasks and bigger ideas. Listing things to do on a piece of paper and losing it immediately happened more times than I am ready to admit.</p>
<p>The main functionality is said board, with three fields that represent tasks to do, tasks currently in progress and finished tasks. Users can create tasks in their board and commit to do a task which is then assigned to them and moved to "In progress" field. The finished tasks field is necessary to see who has been slacking off lately.</p>
<p>Some future features include:</p>
<ul>
    <li>A calendar app to manage time-sensitive tasks and appointments</li>
    <li>Different language versions (mainly English and Polish)</li>
    <li>Possibility of using more than one board by one user</li>
</ul>

{% endblock %}