{% extends 'board/base.html' %}
{% load static %}

{% block title_block %}
{{ profile.user }}
{% endblock %}

{% block content_block %}
<table class="table table-borderless user-profile">
    <tr>
        <td>Username:</td>
        <td>{{ profile.user }}</td>
    </tr>
    <tr>

    </tr>
</table>
<h3>Profile Picture:</h3>
<img src="{% static 'images/default-profile-picture.png' %}" class="profile-picture-big">
<!--Form to add a profile picture-->
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label" for="profile_picture">Upload a picture</label>
        <input type="file" class="form-control" id="profile_picture">
    </div>
    <button type="submit" class="btn btn-primary">Add picture</button>
</form>

{% endblock %}